{"mainBaseData":{"haveBase":true,"startSystemName":"Circuit 0155293","baseSystemName":"Circuit 0155293","killedDialogs":["Barman","GarbageMan","LeninMan","LookMan","LeanMan","CheerMan","DysonMan"]},"tutorialQuestsData":{"questID":6},"valuesData":{"tags":["watch_demo_start","watch_demo_basedemo","watch_demo_translator"]}}